<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /market/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /market/index.html [L]
</IfModule>